{% extends "admin/layout.html" %}

{% block body %}
{% if pagination.pages > 1 %}
<div class='pagination'>
    <ul>
        <li class="prev {% if not pagination.has_prev %}disabled{% endif %}"><a href="{{ url_for('admin.videos', page=pagination.page-1) }}">&larr; Previous</a></li>
        {% for page in pagination.iter_pages() %}
        {% if page %}
        <li class='{% if page == pagination.page %}active{% endif %}'>
            <a href='{{ url_for(' admin.videos', page=page) }}'>{{ page }}</a>
        </li>
        {% else %}
        <li>
            <a href='#'>...</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="next {% if not pagination.has_next %}disabled{% endif %}"><a href="{{ url_for('admin.videos', page=pagination.page+1) }}">Next &rarr;</a></li>
    </ul>
</div>
{% endif %}

<div class="container">
    <h2>Videos</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for video in pagination.items %}
        <tr>
            <td>{{ video.id }}</td>
            <td>{{ video.title }}</td>
            <td><a href="{{ url_for('admin.video', video_id=video.id) }}">Edit</a></td>
            <td><a href="{{ url_for('admin.delete_video', video_id=video.id) }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% if pagination.pages > 1 %}
<div class='pagination'>
    <ul>
        <li class="prev {% if not pagination.has_prev %}disabled{% endif %}"><a href="{{ url_for('admin.videos', page=pagination.page-1) }}">&larr; Previous</a></li>
        {% for page in pagination.iter_pages() %}
        {% if page %}
        <li class='{% if page == pagination.page %}active{% endif %}'>
            <a href='{{ url_for(' admin.videos', page=page) }}'>{{ page }}</a>
        </li>
        {% else %}
        <li>
            <a href='#'>...</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="next {% if not pagination.has_next %}disabled{% endif %}"><a href="{{ url_for('admin.videos', page=pagination.page+1) }}">Next &rarr;</a></li>
    </ul>
</div>
{% endif %}

{% endblock %}
